<footer>
  <div class="footer-text">
    <h5>By The Transforming Drainage Project</h5>
    <h5>Source available<a target="_blank" href="https://github.com/TransformingDrainageProject/reservoir-planning-tool" style="color: #e59b06"> on Github</a></h5>
  </div>

</footer>
