<footer>
   <div id="project_logo">
   	<a href="https://transformingdrainage.org/"> <img src="tdp_logo.png" height="80" width="210"> </a>
   </div>
   <div class="footer-text">
This material is based upon work that is supported by the National Institute of Food and Agriculture, U.S. Department of Agriculture, under award number 2015-68007-23193, “Managing Water for Increased Resiliency of Drained Agricultural Landscapes”, http://transformingdrainage.org. Any opinions, findings, conclusions, or recommendations expressed in this publication are those of the authors and do not necessarily reflect the view of the U.S. Department of Agriculture.
   </div>
</footer>




 