<footer>
  <div id="footer-container">
    <div id="project_logo">
    	<a target="_blank" href="https://transformingdrainage.org/"> <img src="tdp_logo.png"> </a>
    </div>
    <div class="footer-text">
     This material is based upon work that is supported by the National Institute of Food and Agriculture,
     U.S. Department of Agriculture, under award number 2015-68007-23193, “Managing Water for Increased Resiliency
     of Drained Agricultural Landscapes”, <a target="_blank" href="http://transformingdrainage.org">transformingdrainage.org</a>.
     Any opinions, findings, conclusions, or recommendations expressed in this publication are those of the authors and do
     not necessarily reflect the view of the U.S. Department of Agriculture.
    </div>
  </div>
</footer>
