<nav class="navbar">
  <div class="container-fluid">
    <span class="nav-header">
      <a href="/">
        <img alt="Pond Sizing Tool" class="img-responsive" src="pond-tool-logo.png">
      </a>
    </span>
  </div>
</nav>
