<head>
  <meta charset="utf-8">
  <link type="text/css" rel="stylesheet" href="/lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link type="text/css" rel="stylesheet" href="style.css">
  <title><%= title %></title>
</head>
