<form id="calculator-input" method="POST" action="/" enctype="multipart/form-data">
  <!-- Temporarily commented while we figure out the UI, keep the input element so that gmaps can move it on to the map -->
  <!-- <div id="location-inputs" class="form-group">
    <label class="input-group">Location</label> -->
    <!-- <div class="input-group"> -->
      <input id="places-input" class="" type="text" placeholder="Input place or address">
    <!-- </div>
  </div> -->
  <div id="reservoir-inputs" class="form-group">
    <label class="input-group">Pond Inputs</label>
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h5> Smallest Pond Volume <h5>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="number" step="any" min = "0" class="form-control" name="pondVolSmallest" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">acre-feet</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h5> Largest Pond Volume <h5>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
            <input type="number" step="any" min = "0" class="form-control" name="pondVolLargest" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">acre-feet</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h5> Pond Volume Increments<h5>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="number" step="any" min = "0" class="form-control" name="pondVolIncrement" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">acre-feet</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h5> Pond Depth<h5>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="number" step="any" min = "0" class="form-control" name="pondDepth" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">feet</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h5> Maximum Soil Moisture Content <h5>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="number" step="any" min = "0" class="form-control" name="maxSoilMoistureDepth" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">inches</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h5> Irrigation Area <h5>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="number" step="any" min = "0" class="form-control" name="irrigatedArea" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">inches</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h5> Irrigation Depth <h5>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="number" step="any" min = "0" class="form-control" name="irrigDepth" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">inches</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-xs-12 text-center">
            <h5> Available Water Capacity <h5>
          </div>
          <div class="col-xs-12">
            <div class="input-group">
              <input type="number" step="any" min = "0" class="form-control" name="availableWaterCapacity" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
              <span class="input-group-addon" id="basic-addon2">inches</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <br>
    <br>

    <div class="row">
      <label class="input-group">Use your own data</label>

      <div class="col-md-2 col-md-offset-5">
        <button id="uploadButton" class="btn btn-block"> upload </button>
      </div>
      <span id="uploadForm">
        <div class="col-md-6">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h5> Upload CSV <h5>
            </div>
            <div class="col-xs-12">
              <div class="input-group" id="file-div">
                <label class="input-group-btn">
                  <span class="btn btn-primary">
                      Browse&hellip; <input type="file" id="userCSV" name="userCSV" style="display: none;">
                  </span>
                </label>
                <input type="text" class="form-control" readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-xs-12 text-center">
              <h5> Drained Area <h5>
            </div>
            <div class="col-xs-12">
              <div class="input-group">
                <input type="number" step="any" min = "0" class="form-control" name="drainedArea" placeholder="Enter Numeric Value" aria-describedby="basic-addon2">
                <span class="input-group-addon" id="basic-addon2">acre-feet</span>
              </div>
            </div>
          </div>
        </div>
      </span>
    </div>
    <br>
    <div id="submit">
      <button id='form-submit'type="submit" class="btn">Submit</button>
   </div>
  </div>
</form>
