<form id="calculator-input">
  <div id="reservoir-inputs" class="form-group">
    <label><strong>Reservoir/Pond Inputs</strong></label>
    <label>Pond Volume</label>
    <div class="input-group">
      <input type="number" class="form-control" id="pondVolSmallest" placeholder="Smallest" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">acre-foot</span>
    </div>

    <div class="input-group">
      <input type="number" class="form-control" id="pondVolLargest" placeholder="Largest" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">acre-foot</span>
    </div>

    <div class="input-group">
      <input type="number" class="form-control" id="pondVolIncrement" placeholder="Increment" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">acre-foot</span>
    </div>

    <br>

    <label>Pond Volume (in acre-feet)</label>
    <div class="input-group">
      <input type="number" class="form-control" id="pondDepth" placeholder="Pond Depth" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">feet</span>
    </div>

    <div class="input-group">
      <input type="number" class="form-control" id="pondWaterDepthInitial" placeholder="Pond's Initial Depth" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">feet</span>
    </div>
  </div>

  <div id="irrigation-inputs" class="form-group">
    <label><strong>Irrigation Inputs</strong></label>
    <div class="input-group">
      <input type="number" class="form-control" id="maxSoilMoistureDepth" placeholder="Max Soil Moisture Content" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">tbd</span>
    </div>

    <div class="input-group">
      <input type="number" class="form-control" id="irrigatedArea" placeholder="Irrigation Area" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">tbd</span>
    </div>

    <div class="input-group">
      <input type="number" class="form-control" id="irrigDepth" placeholder="Irrigation Depth" aria-describedby="basic-addon2">
      <span class="input-group-addon" id="basic-addon2">inches</span>
    </div>
  </div>
</form>
