<!DOCTYPE html>
<html>
<% include partials/head %>

  <body>
    <% include partials/header %>
      <div id="main">
        <div class="card-container">

          <!-- Map -->
          <div class="card card-shadow">
            <div id="map-container">
              <div id="map-buffer" class="buffer-container">
                <div class="loader"></div>
              </div>
              <div id="map"></div>
            </div>
              <!-- Prompt and Submit below map -->
            <button id='map-submit' type="button" class="btn btn-block">Confirm Selection</button>
          </div>

          <!-- Form Input -->
          <div id="form-card" class="card card-shadow">
            <div id="form-data">
              <% include partials/calculator-input %>
            </div>
          </div>

          <!-- First Graph -->
          <div class="card card-shadow">
            <div id="graph-body">
              <div id="graph-1" class="card text-center">
                  <!-- This is where Google Charts will go -->
                  <h5>Graph</h5>
              </div>
              <div id="graph-desc" class="card">
                This graph shows two calculated values, averaged over all years simulated:
                <ul>
                  <li>
                    Bypass Volume: Amount of drain flow that will not be captured in the pond (less is better, to improve downstream water quality)
                  </li>
                  <li>
                    Storage Deficit: Amount of irrigation water that would have benefited the crop, but was not available when needed (less is better, to improve crop yields)
                  </li>
                </ul>
              </div>

            </div>
          </div>

          <!-- Dropdown for pond increment -->
          <div id="pond-inc-card" class="card">
              <h5>Select Pond Volume to Graph</h5>
              <select id="pond-inc-dropdown">
              </select>
              <button id="pond-inc-submit" class="btn"> submit </button>
              <a id="download-csv" style="display: none;">Download a CSV with Daily Data for this Pond Volume</a>
          </div>

          <!-- Second Graph -->
          <div class="card card-shadow">
            <div id="graph2-body">
              <div id="graph-2" class="card text-center">
                  <h5>Graph</h5>
              </div>
              <div id="graph-desc" class="card">
                This graph shows the calculated pond depth, bypass flow, and storage deficit averaged over all years simulated.  It shows what month the bypass flow and storage deficit were most likely to occur, providing insight on the pond performance. For details on an individual years, select a year below. 
              </div>
            </div>
          </div>

          <!-- Dropdown for years -->
          <div id="year-card" class="card">
              <h5>Select Year to Graph</h5>
              <select id="year-dropdown">
              </select>
              <button id="year-submit" class="btn"> submit </button>
          </div>

          <!-- Third Graph -->
          <div class="card card-shadow">
            <div id="graph3-body">
              <div id="graph-3" class="card text-center">
                  <h5>Graph</h5>
              </div>
              <div id="graph-desc" class="card">
                This graph shows the calculated pond depth, bypass flow, and storage deficit over the course of a single year. It shows what month the bypass flow and storage deficit were most likely to occur, providing insight on the pond performance.
              </div>
            </div>
          </div>

        </div>
      </div>
      <% include partials/footer %>
      <% include partials/scripts %>
  </body>

</html>
