<!DOCTYPE html>
<html>
<% include partials/head %>

  <body>
    <% include partials/header %>
      <div class="container">
        <div class="row" id="map-row">
          <div id="sidebar" class="col-md-3">
              <!-- This is where the search will go and selected ID will be shown -->
              <p id="mapselection"></p>
              <!-- This is where calculator input goes -->
              <% include calculator-input %>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div id="map" class="col-md-12">
                <!-- This is where Google Maps will go -->
                <h3>Map</h3>
              </div>
              <div id="graph-body">
                <div id="graph" class="col-md-12">
                    <!-- This is where Google Charts will go -->
                </div>
                <div id="graph-desc" class="col-md-12">
                  <div class="container">
                    <!-- This is where the Graph's description will be printed -->
                    <h3>Graph Description</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include partials/footer %>
      <% include partials/scripts %>
  </body>

</html>
