<!DOCTYPE html>
<html>
<% include partials/head %>

  <body>
    <% include partials/header %>
      <div id="main">
        <div class="container">
          <div class="row" id="map-row">
            <div id="sidebar" class="col-md-3">
                <p id="prompt">Please select a location on the map</p>
                <div id='csv-upload'>
                  <hr class="divider">
                  <button type="button" class="btn btn-block">Upload your data</button>
                </div>
                <!-- This is where the search will go and selected ID will be shown -->
                <p id="mapselection"></p>
                <button id='map-submit' type="button" class="btn btn-block">Confirm Selection</button>
                <!-- This is where calculator input goes -->
                <div id="form-data">
                  <hr>
                  <% include calculator-input %>
                </div>
            </div>
            <div class="col-md-9">
              <div class="row">
                <div id="map" class="col-md-12">
                  <!-- This is where Google Maps will go -->
                </div>
                <div id="graph-body">
                  <div id="graph" class="col-md-12 text-center">
                      <!-- This is where Google Charts will go -->
                      <h5>Graph</h5>
                  </div>
                  <div id="graph-desc" class="col-md-12">
                    <div class="container">
                      <!-- This is where the Graph's description will be printed -->
                      <h3>Graph Description</h3>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include partials/footer %>
      <% include partials/scripts %>
  </body>

</html>
