<!DOCTYPE html>
<html>
<% include partials/head %>

  <body>
    <% include partials/header %>
      <div id="graph-body" class="container">
        <div class="row">
          <div id="sidebar" class="col-md-3">
            <div class="container">
              <!-- This is where the calculator will go -->
              <h3>SIDEBAR</h3>
            </div>
          </div>
          <div class="col-md-9">
            <div class="row">
              <div id="graph-desc" class="col-md-12">
                <div class="container">
                  <!-- This is where Google Charts will go -->
                  <h3>Graph</h3>
                </div>
              </div>
              <div id="graph" class="col-md-12">
                <div class="container">
                  <!-- This is where the Graph's description will be printed -->
                  <h3>Graph Description</h3>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="container">
        <div class="row" id="map-row">
          <div class="col-md-12">
            <div id="map"></div>
          </div>
        </div>
      </div>

      <% include partials/footer %>
        <% include partials/scripts %>
  </body>

</html>
