/*Set up the basic page*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: white;
}

/*Navbar*/
nav {
  text-align: center;
  border-radius: 0;
}

.navbar {
  background-color: #222222;
  border-radius: 0;
}

.navbar-brand {
    color: white;
    font-size: 2em;
}

/*General components*/
#main {
    width: 100%;
    min-height: 95vh;
}

h5 {
  color: white;
  font-size: 1.2em;
}

label {
  font-size: 1.3em;
}

button {
  background-color: #0054a6;
  color: white;
}

hr {
  margin: 10px 0;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  color: #eee;
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.35);
  box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.35);
}

.row {
  padding: 10px 0;
}

/*Card Layout*/
.card-container {
  width: 80vw;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding-bottom: 36px;
}

.card {
  display: block;
  width: inherit;
  height: auto;
  margin: 20px 0;
  overflow: hidden;
}

.card-shadow {
  z-index: 3;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(102,102,102,0.7);
  -moz-box-shadow: 0px 2px 2px 0px rgba(102,102,102,0.7);
  box-shadow: 0px 2px 2px 0px rgba(102,102,102,0.7);
}

/*Map*/
#map-container {
  height: 80vh;
  width: inherit;
  background: #357cce;
}

#map {
  width: inherit;
  height: inherit;
  position:relative;
  z-index:500;
}

#map-submit {
  display: none;
}

/*Form inputs*/
.form-group {
  background: #357cce;
  padding: 20px;
  padding-bottom: 0;
  color: white;
  margin-bottom: 0;
}

#form-data {
    display: none;
}

.input-group {
  margin: 0 auto;
  padding: 0 10px;
  box-shadow: none;
}

/*hide input spin button*/
input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
  appearance: textfield;
}

.input-group .form-control {
  border-style: none;
  border-radius: 0;
  background-color: white;
}

.input-group-addon {
  border-style: none;
  border-radius: 0;
  background-color: #24578c;
  color: white;
  font-size: 1em;
}

#basic-addon2 {
  padding: 5px;
}

#uploadForm {
  display: none;
  padding-left: 10px;
  padding-right: 10px;
}

.form-control {
  font-size: 1em;
}

/*Form Error Checking*/
#form-error {
  color: white;

  /*margin on either side*/
  border-left-style: solid;
  border-left-width: 30vw;
  border-right-style: solid;
  border-right-width: 30vw;
  border-color: #357cce;
  display: none;
}

#form-error p {
  padding: 0;
  margin: 0;
}

#border {
  border-top-style: solid;
  border-top-width: 1vh;
  border-bottom-style: solid;
  border-bottom-width: 3vh;
  border-color: #357cce;
}

#error-content{
  background: #f44336;
  padding: 2vh 3vw;
}

/*downloading CSV*/
#download-csv {
  color: white;
}
/*Graphs*/
#graph-body, #graph2-body, #graph3-body {
  display: none;
}

#graph-1, #graph-2, #graph-3 {
  width: inherit;
  height: 80vh;
  margin: 10px;
  padding: 0;
  float: none;
  vertical-align:  middle;
}

#graph-desc {
  width: inherit;
  margin: 10px;
}

/*Dropdowns*/
#pond-inc-card, #year-card {
  display: none;
  background: #357cce;
  padding: 10px;
}

.buffer-container {
  height: inherit;
  width: inherit;
  position:absolute;
  z-index:1000;
  background: #357cce;
}

/*Footer*/
footer {
  position: relative;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 36px;
  background-color: #0277bd;
  display: flex;
  align-items: center;
}

.footer-text {
  width: inherit;
  text-align: center;
}

footer h5 {
  color: #eee;
}

/*For smaller than large screens*/
/*Cards span almost entire width*/
@media only screen and (max-width: 1260px) {
  .card-container {
    width: 98vw;
  }
}

/*Buffer Animation*/
.loader {
    margin: auto;
    margin-top: 30vh;
    border: 10px solid #fff; /*white*/
    border-right: 10px solid #357cce;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
