/*Set up the basic page*/
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: white;
}

/*Navbar*/
nav {
  text-align: center;
  border-radius: 0;
}

.navbar {
  background-color: #222222;
  border-radius: 0;
}

.navbar-brand {
    color: white;
    font-size: 2em;
}

/*General components*/
#main {
    width: 100%;
    min-height: 95vh;
}

h5 {
  color: #222;
  font-size: 1.2em;
}

label {
  font-size: 1.3em;
}

button {
  background-color: #0054a6;
  color: white;
}

.btn {
  border-radius: 0;
}

.btn:hover {
  color: #eee;
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.35);
  box-shadow: inset 0px 0px 3px 1px rgba(0,0,0,0.35);
}

/*Card Layout*/
.card-container {
  width: 80vw;
  height: auto;
  position: relative;
  margin: 0 auto;
  padding-bottom: 36px;
}

.card {
  display: block;
  width: inherit;
  height: auto;
  margin: 20px 0;
  overflow: hidden;
  background: white;
}

/*Map*/
#map-container {
  height: 80vh;
  width: inherit;
  background: #357cce;
}

#map {
  width: inherit;
  height: inherit;
  position:relative;
  z-index:500;
}

#map-submit {
  display: none;
}

/*Form inputs*/
.form-group {
  background: #fff;
  padding: 20px;
  padding-bottom: 0;
  color: #222;
  margin-bottom: 0;
}

#form-data {
    display: none;
}

#reservoir-inputs {
  padding-bottom: 20px;
  font-size: 1.1em;
}

#form-data hr {
    border-top: 1px solid #555;
    margin: 10px 0 20px 0;
}

.input-container {
  margin: auto;
  width: 60%;
  min-width: 160px;
  max-width: 200px;
}

.input-group {
  margin: 0 auto;
  padding: 0 10px;
  box-shadow: none;
}

.input-group .form-control {

  color: #222;
  background-color: white;
  min-width: 30px;
}

.input-group-addon {
  background-color: #f1f1f1;
  color: #333;
  font-size: 1em;
  width: 40%;
}

#basic-addon2 {
  padding: 5px;
}

.form-card-container {
  width: 80%;
  margin: auto;
}
.input-card {
  background: #f1f1f1;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.label-card {
  background: #f1f1f1;
}

#uploadForm {
  padding-left: 10px;
  padding-right: 10px;
}

.form-control {
  font-size: 1.1em;
}


/*Form Error Checking*/
#form-error {
  color: white;
  margin: 1vh 2vw 3vh 2vw;
  display: none;
}

#form-error p {
  padding: 0;
  margin: 0;
}

#error-content{
  background: #ef5350;
  padding: 2vh 3vw;
}

/*downloading CSV*/
#download-csv {
  color: white;
}
/*Graphs*/
#graph-body, #graph2-body, #graph3-body {
  display: none;
}

#graph-1, #graph-2, #graph-3 {
  width: inherit;
  height: 80vh;
  margin: 10px;
  padding: 0;
  float: none;
  vertical-align:  middle;
}

#graph-desc {
  width: inherit;
  margin: 10px;
  font-size: 1.5em;
}

/*Dropdowns*/
#pond-inc-card, #year-card {
  display: none;
  background: #357cce;
  padding: 10px;
}

.buffer-container {
  height: inherit;
  width: inherit;
  position:absolute;
  z-index:1000;
  background: #357cce;
}

/*Footer*/
footer {
  position: relative;
  z-index: 10;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 9vh;
  background-color: #0277bd;
  display: flex;
  align-items: center;
}

.footer-text {
  width: inherit;
  text-align: center;
}

footer h5{
  color: #eee;
}

footer a{
  color: #eee;
  font-weight: bold;

}
footer a:hover{
  text-decoration: none;
  color: #c2c3c4;
}

#description-title-margin{
  margin-left: 1vw;
}

/*For smaller than large screens*/
/*Cards span almost entire width*/
@media only screen and (max-width: 1260px) {
  .card-container {
    width: 98vw;
  }
}

/*Buffer Animation*/
.loader {
    margin: auto;
    margin-top: 30vh;
    border: 10px solid #fff; /*white*/
    border-right: 10px solid #357cce;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 3s ease infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


#form-data hr.divider {
  border-top: 1px solid #222;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#form-data hr.divider:after {
  content: 'or';
  display: inline-block;
  position: relative;
  top: -14px;
  padding: 0 10px;
  background: #eee;
  color: #555;
  font-size: 18px;
}

#places-input {
  margin-top: 10px;
  height: 30px;
  width: 200px;
  padding: 0px 0px 0px 30px;
  background-image: url('search-back.png');

}
